* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #181858;
}
/* start header */
header {
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
header nav a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px 5px;
}
header nav a:hover {
    background-color: white;
    color: var(--main-color);
    letter-spacing: 1.2px;
}

@media (max-width: 550px) {
    header {
        flex-wrap: wrap;
    }
}



/* end header */

/* start main home*/
main {
    width: 100%;
}
.home .image {
    width: 100%;
}
.home .image img {
    width: 100%;
    animation: homeImage 2s infinite alternate;
}
@keyframes homeImage {
    0% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(-35px);
    }
}
.title {
    text-align: center;
    font-size: 250%;
    margin: 10px 0;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
}

/* end main home*/